/*font-family: 'PT Serif', serif;*/
/*font-family: 'Abel', sans-serif;*/

body {
    font-family: 'PT Serif', serif;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: #ffffff;
    line-height: 1.4em;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 1.4em;
}

h1, h2, h3, h4 {
    font-family: 'Abel', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.35em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

.header_inner > * {
    margin: auto 0;
}

.header_logo {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.item {
    max-height: 1.7rem;
    max-width: 1.7rem;
}

#section1{
    margin-bottom: 50px;
    display: grid;
    max-height: 750px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

#img1 {
    /*width: 476px;*/
    /*width: 100%;*/
    /*max-width: 476px;*/
    grid-column: 7 / 11;
    grid-row: 1 / 8;
    margin-bottom: 1.75rem;
    margin-left: 1rem;
}

#img2 {
    /*width: 100%;*/
    /*max-width: 457px;*/
    grid-column: 2 / 5;
    grid-row: 6 / 8;
}

#img3 {
    /*width: 100%;*/
    /*max-width: 528px;*/
    grid-column: 6 / 8;
    grid-row: 8 / 11;
    margin-left: 0.5rem;
}

#upper-text {
    grid-row: 2 / 4;
    grid-column: 3 / 7;
}

#bg-1 {
    grid-row: 3 / 10;
    grid-column: 4 / 10;
    background-color: #EADED5;
}

#upper-text p {
    font-size: 1.25rem;
}

/*s2*/

.section2 {
    margin-bottom: 100px;
    max-height: 750px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.bg2 {
    background: #EDCCB4;
    grid-column: 13 / 27;
    grid-row: 3 / 10;
}

.bg3 {
    background: #C6CDBC;
    grid-column: 1 / 20;
    grid-row: 8 / 15;
}

.text_block1 {
    margin-top: 1rem;
    text-align: center;
    margin-inline: 1.5rem;
    grid-column: 10 / 14;
    grid-row: 4 / 9;
}

.text_block2 {
    margin-top: 1rem;
    text-align: center;
    margin-inline: 1.5rem;
    grid-column: 18 / 22;
    grid-row: 4 / 9;
}

.text_block3 {
    margin-top: 1rem;
    text-align: center;
    margin-inline: 1.5rem;
    grid-column: 6 / 10;
    grid-row: 9 / 14;
}

.text_block4 {
    margin-top: 1rem;
    text-align: center;
    margin-inline: 1.5rem;
    grid-column: 14 / 18;
    grid-row: 9 / 14;
}

.header2 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    grid-column: 10 / 17;
    grid-row: 2 / 2;
    text-align: center;
}

.header3 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.img41 {
    width: 200px;
    grid-column: 6 / 10;
    grid-row: 4 / 9;
}

.img42 {
    width: 200px;
    grid-column: 14 / 18;
    grid-row: 4 / 9;
}

.img43 {
    width: 200px;
    grid-column: 10 / 14;
    grid-row: 9 / 14;
}

.img44 {
    width: 200px;
    grid-column: 18 / 22;
    grid-row: 9 / 14;
}

/*about*/

.section_about .container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about_wrapper {
    max-width: 800px;
    text-align: center;
}

.header4 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

/*products*/

.section_products {
    background-color: #EADED5;
    margin-bottom: 100px;
}

.products_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.products_el {
    max-width: 235px;
    max-height: 435px;
}

.background {
    background-color: #EAEAEA;
    padding: 20px 12px;
}

.products_header {
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding-top: 1rem;
    margin-bottom: 2.5rem;
}

.header5 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
}

.header6 {
    font-family: 'PT Serif', serif;
    font-size: 1.25rem;
    padding: 1rem 0 0.5rem 0;
}

/*home*/

.section_home {
    margin-bottom: 100px;
    max-height: 700px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.bg4 {
    background-color: #C6CDBC;
    grid-column: 6 / 21;
    grid-row: 1 / 14;
}

.img66 {
    grid-column: 5 / 13;
    grid-row: 5 / 15;
}

.img77 {
    grid-column: 15 / 23;
    grid-row: 2 / 10;
}

.header7 {
    line-height: 1.3em;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    grid-column: 9 / 13;
    grid-row: 2 / 4;
}

.text_block5 {
    grid-column: 14 / 20;
    grid-row: 11 / 14;
}

/*blocks*/

.blocks_wrapper {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.block {
    justify-content: center;
    max-width: 235px;
    max-height: 235px;
    background-color: #EDCCB4;
    padding: 26px;
}

.icon {
    margin: 0 60px 16px 60px;
}

.header8 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.block p {
    text-align: center;
}

/*contact*/

.contact {
    max-height: 600px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

.header11 {
    line-height: 1.3em;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    grid-column: 11 / 18;
    grid-row: 1 / 3;
}

.bg5 {
    background-color: #EADED5;
    grid-column: 1 / 21;
    grid-row: 1 / 25;
}

.bg6 {
    background-color: #C97D68;
    grid-column: 30 / 48;
    grid-row: 6 / 23;
}

.map {
    grid-column: 28 / 46;
    grid-row: 4 / 21;
}

.contact_wrapper {
    grid-column: 7 / 23;
    grid-row: 4 / 23;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.form-input{
    font-family: 'PT Serif', serif;
    width: 100%;
    padding: 15px;
    border: black solid 1px;
    font-size: 1rem;
    background-color: transparent;
}

.form-textarea {
    font-family: 'PT Serif', serif;
    width: 100%;
    height: 250px;
    font-size: 1rem;
    padding: 15px;
    border: black solid 1px;
    background-color: transparent;
    resize: none;
}

.button_send {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    padding: 10px 75px;
    margin-inline: auto;
    background-color: transparent;
    border: black solid 1px;

}

/*footer*/

.footer {
    margin-top: 100px;
    background-color: #C6CDBC;
}

.footer_wrapper {
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
}

.header9 {
    text-align: right;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    max-width: 160px;
    line-height: 1.4em;
}

.footer_wrapper > * {
    margin: auto 0;
}

.header10 {
    font-family: 'PT Serif', serif;
    font-size: 1.25rem;
}

.footer_info p {
    margin: 0.5rem 0;
}
